<h2>{{rental.title}}</h2>
<p>Owner: {{rental.owner}}</p>
<p>Type: {{rental-property-type rental.type}} - {{rental.type}}</p>
<p>Location: {{rental.city}}</p>
<p># Bedrooms: {{rental.bedrooms}}</p>
{{#if isImageShowing}}
  <p><img src="{{rental.image}}" alt="{{rental.type}}" width="500" /></p>
  <button {{action "toggleImage" false}}>Hide image</button>
{{else}}
  <button {{action "toggleImage" true}}>Show image</button>
{{/if}}
